.navigation {
  height: 4rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 0;
  background-color: #64fbfb;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  margin: 0 auto;
}

.brand-name {
  text-decoration: none;
  color: #351e5e;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #57395b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #351e5e;
}

.navigation-menu li a.active {
  background: #039595ab;
  color: #57395b;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    position: absolute;
    top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 14rem;
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: #57395b;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #0395954f;
  }
}
